[install]
is_configured = 0

[ui]
is_visible = 1
label = "SIGMA for Splunk Export"

[launcher]
author = "Reternal"
description = "App containing SIGMA rules as exported by the Reternal app"
version = 1.0