amqp==2.1.4
celery
ducktoolkit
Flask
flask-mongoengine
Flask-RESTful
Flask-Script
Flask-SocketIO
Flask-WTF
httplib2
ifaddr
ipaddress
Jinja2
mongoengine
netifaces
psutil
pyaes
pymongo
python-geoip
python-magic
python-socketio
redis==2.10.5
requests
rsa
urllib3
Werkzeug
WTForms
flask-jwt-extended
flask-cors
python-libmagic