amqp
celery
ducktoolkit
Flask
flask-socketio
flask-mongoengine
Flask-RESTful
Flask-Script
Flask-SocketIO
Flask-WTF
httplib2
ifaddr
ipaddress
Jinja2
mongoengine
netifaces
psutil
pyaes
pymongo
python-geoip
python-magic
python-socketio
pyotp
redis
requests
rsa
vine>=1.3.0
urllib3
Werkzeug
WTForms
flask-jwt-extended
flask-cors
flask_socketio
eventlet

