# Setting variables
from app import app
from app.functions_generic import Generic

app.config['SECRET_KEY'] = "Some Random Key"
app.config['MONGODB_SETTINGS'] = {
    'db': 'example_project',
    'host': '127.0.0.1',
    'port': 27017
}

app.config.update(
    CELERY_BROKER_URL='redis://localhost:6379',
    CELERY_RESULT_BACKEND='redis://localhost:6379'
)
